* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4ee7f2;
    --winning-blocks: #2d414b;
}

body {
    text-decoration: none;
    color: var(--blue);
    font-family: "Moo Lah Lah", cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #12171a;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n) {
    /*this removes the lastest right line the ones on the margin */
    border-right: none;
}

.box:nth-child(6) ~ .box {
    /*this removes the lastest buttom line the ones on the margin */
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: #333;
    border-color: var(--blue);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2psx);
}
